<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user</title>
    <script src="../../ele-vue/vue.js"></script>
    <script src="../../ele-vue/vue-axios.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../ele-vue/element-vue.css"/>
    <script src="../../ele-vue/element-vue.js"></script>
</head>
<body>
<div id="user">
    <div>用户创建</div>
    <hr/>
    <el-form ref="form" :model="form" label-width="80px">
        <el-form-item label="用户名">
            <el-input v-model="form.name"></el-input>
        </el-form-item>
        <el-form-item label="密码">
            <el-input v-model="form.password"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="onSubmit">立即创建</el-button>
        </el-form-item>
    </el-form>
    <div>用户表示</div>
    <hr/>
    <el-table
            :data="userInfo"
            style="width: 100%">
        <el-table-column
                prop="id"
                label="标志">
        </el-table-column>
        <el-table-column
                prop="userName"
                label="用户名">
        </el-table-column>
        <el-table-column
                prop="password"
                label="密码">
        </el-table-column>
    </el-table>
</div>
</body>
<script src="user.js"></script>
</html>